.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

#dolphin-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #08c;
}

.clickable:hover {
  text-decoration: underline;
}
